services:
  web-app:
    image: web-app-prod:latest # Este nombre debe coincidir con el tag del build
    container_name: web-container
    ports:
      - "80:80"
    deploy:
      resources:
        limits:
          memory: 512M
    restart: unless-stopped
